
body {
    
}

div {
    width:80%;
    margin: auto;

}

table#Calendar1 {
    margin: auto;
    }

#label1 {
    text-align: center;
    margin: auto;
}

h1, h2 {
    text-align: center;
    
}


